## Deliverable 3. Create a Travel Itinerary Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [42]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Atar,MR,89.94,overcast clouds,20.52,-13.05,Oumou Elghoura
1,6,Filingue,NE,89.47,few clouds,14.35,3.32,NaN
2,8,Akyab,MM,77.86,overcast clouds,20.15,92.90,Hotel Memory
3,9,Tautira,PF,80.60,shower rain,-17.73,-149.15,Pension Oaoa
4,11,Boa Vista,BR,82.40,shower rain,2.82,-60.67,Aipana Plaza Hotel

In [43]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [48]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df["City"] == "Catalina"]
vacation_end_df = vacation_df.loc[vacation_df["City"] == "Catalina"]
vacation_stop1_df = vacation_df.loc[vacation_df["City"] == "Caborca" ]
vacation_stop2_df = vacation_df.loc[vacation_df["City"] == "Moctezuma" ] 
vacation_stop3_df = vacation_df.loc[vacation_df["City"] == "San Quintin"] 
vacation_stop3_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
49,175,San Quintin,MX,77.02,clear sky,30.48,-115.95,Old Mill Hotel

In [50]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(*vacation_start_df[["Lat", "Lng"]].to_numpy())
end = tuple(*vacation_end_df[["Lat", "Lng"]].to_numpy())
stop1 = tuple(*vacation_stop1_df[["Lat", "Lng"]].to_numpy())
stop2 = tuple(*vacation_stop2_df[["Lat", "Lng"]].to_numpy())
stop3 = tuple(*vacation_stop3_df[["Lat", "Lng"]].to_numpy())
stop3

(30.48, -115.95)

In [51]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_layer_map = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(direction_layer_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df, vacation_end_df], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,599,Catalina,US,87.01,broken clouds,32.51,-110.92,Miraval Arizona Resort & Spa
1,231,Caborca,MX,87.89,broken clouds,30.58,-111.10,Hotel Los Lagos
2,612,Moctezuma,MX,87.80,scattered clouds,29.80,-109.67,Hotel Lobohombo
3,175,San Quintin,MX,77.02,clear sky,30.48,-115.95,Old Mill Hotel
4,599,Catalina,US,87.01,broken clouds,32.51,-110.92,Miraval Arizona Resort & Spa

In [53]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))